// Descriptive color variables

$white: #fff;
$malibu: #51ddfc;
$sunglo: #e4757a;
$purple-mountain-majesty: #927bc1;
$emerald: #63cc82;
$coral: #fd7856;
$viking: #58e1c1;
$silver: #ccc;
$boulder: #777;

$col-colors: (
  1: #927bc1,
  2: #fd7856,
  3: #deb2ee,
  4: #7ee6fd,
  5: #88d9a0,
  6: #4da2bb,
  7: #ec9fa3,
  8: #fd9f85,
  9: #e4757a,
  10: #63cc82,
  11: #51ddfc,
  12: #80e8d1,
  );

// Font stacks

$stack-sans-serif: sans-serif;
$stack-lato: 'Lato', $stack-sans-serif;

// Font

$weight: 300;

// Border Radius

$br: 5px;

// Media queries

  $break-tablet: 768px;
